/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'dos', sans-serif; /* Use your custom font */
    background-color: black; /* Set the background to black */
    color: white; /* Set text color to white */
}

@font-face {
    font-family: 'dos';
    src: url('../fonts/dos.woff2') format('woff2'),
         url('../fonts/dos.ttf') format('tff');
    /* Add other formats (eot, ttf) if needed */
    font-weight: normal;
    font-style: normal;
}

/* Styles for the header section */
header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile img {
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    border-radius: 50%;
    margin-right: 20px;
}

.bio {
    flex-grow: 1;
}

/* Styles for the photo gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery a {
    margin: 5px;
}

.gallery img {
    width: 100px; /* Adjust thumbnail size */
    height: 100px; /* Adjust thumbnail size */
}

